* {
  border: none;
  /* border-radius: 10px; */
  font-family: JetBrains Mono NL Medium;
  font-size: 14px;
  min-height: 14px;
  padding: 0;
  margin-left: 1px;
  margin-right: 1px;
  color: #cdd6f4;
}

window#waybar {
  background: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button {
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button.focused {
  border-bottom: 2px solid #74c7ec;
  background: #45475a;
  color: #cdd6f4;
}


#network,
#pulseaudio,
#battery,
#backlight
{
  color: #a6e3a1
}

#battery.warning
{
  color: #f9e2af
}

#network.disconnected,
#pulseaudio.muted,
#battery.critical
{
  color: #f38ba8
}

#custom-separator 
{
  margin: 0;
  padding: 0;
}

/*
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  padding: 0px 0px;
  margin: 0px 0px;
}
*/
